@font-face {
font-family: 'Banny';
src: url(fonts/Banny-Round.ttf);}

html, body {
font-family: 'Open Sans', 'Roboto', sans-serif;
}

body {
text-align: center;
align-content: center;
margin-top: 0px;
margin-bottom: 0px;
font-size: 14px;
line-height: 24px;
}

header, main, body, footer {
margin-left: auto;
margin-right: auto;
}

header, main {
width: 100%;
max-width: 1440px;
}

header {
background: #fff;
display: block;
padding-top: 0;
}

h2 {
font-family: Banny;
font-weight: normal;
font-style: normal;
font-size: 36px;
line-height: 48px;
margin: 0 0 30px 0;
text-transform: uppercase;
position: relative;
}

h2::after {
content: '';
position: absolute;
height: 5px;
top: 55px;
left: 50%;
transform: translate(-50%);
border: none;
background-color: #E8C300;
width: 59px;
border-radius: 2px;
}

.bold {
font-weight: 700;
font-size: 18px;
}

.section_text {
margin-right: 39px;
}

.img {
padding-right: 150px;
}

.img::after {
content: '';
position: absolute;
top: 240px;
right: 80px;
width: 250px;
height: 250px;	
border: 20px solid #E8C300;
box-sizing: border-box;
filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
border-radius: 5px;
}

.dark {
color: white;
position: relative;
background-color: black;
background-size: cover;
background-position: center;
padding: 44px 100px 80px 10px;
}

.dark-header {
font-weight: bold;
font-size: 12px;
margin-top: 0px;
margin-bottom: 0px;
letter-spacing: 0.5em;
text-transform: uppercase;
}

.team {
background-image: url(img/team-bg.png);
}

.dark_content {
display: flex;
justify-content: space-between;
align-items: center;
}

.darksection_text {
margin-left: 39px;
}

.dark_img {
padding-left: 100px;
}

.dark_img::before {
content: '';
position: absolute;
top: 230px;
left: 80px;
width: 250px;
height: 250px;	
border: 20px solid #E8C300;
box-sizing: border-box;
filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
border-radius: 5px;
}

.book {
position: relative;
padding-bottom: 44px;
}

.book_content {
padding: 80px 10px 0px 80px;
display: flex;
justify-content: space-between;
align-items: center;
}

.book_hours {
font-size: 12px;
line-height: 12px;
color: rgba(51, 51, 51, 0.5);
}

form {
width: 100%;
}

select, input {
box-sizing: border-box;
padding-left: 20px;
background-color: #E5E5E5;
border-radius: 5px;
border: none;
min-height: 60px;
width: 48%;
color: rgba(51, 51, 51, 0.5);;
}

input[type=text], input[type=tel], input[type=number] {
margin-right: 10px;
margin-bottom: 10px;
}

.btn {
width: 100%;
background-color: #E8C300;
border-radius: 5px;
border: none;
min-height: 60px;
color: white;
font-size: 12px;
font-weight: 700;
}

.specialties {
padding: 0;
padding-top: 44px;
background-image: url(img/specialty-bg.png);
padding-bottom: 45px;
overflow: hidden;
}

.slider_content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
width: 100%;
position: relative;
margin: auto;
}

.slider_text {
width: 50%;
float: right;
box-sizing: border-box;
padding-left: 39px;
padding-right: 80px;
margin: 0px;
}

.slider_img {
width: 50%;
}

.slider_img img {
margin-left: 100px;
}

.slider_img::before {
content: '';
position: absolute;
top: 160px;
left: 80px;
width: 250px;
height: 250px;	
border: 20px solid #E8C300;
box-sizing: border-box;
filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
border-radius: 5px;
}

.slider_controls {
display: flex;
justify-content: center;
margin: auto;
}

.dot {
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 10px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #fff;
}

.slide {
-webkit-animation-name: slide;
-webkit-animation-duration: 0.8s;
-webkit-animation-timing-function: linear;
animation-name: slide;
animation-duration: 0.8s;
animation-timing-function: linear;
}

@-webkit-keyframes slide {
0% {right: -100%} 
50% {right: -50%} 
100% {right: 0}
}

@keyframes slide {
0% {right: -100%} 
50% {right: -50%} 
100% {right: 0}
}

.slider_content {
display: none;
}
